*{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
	width: 100%;
}


body{
	font-family: "Segoe UI", verdana, sans-serif;
	background-color: #fafafa;
	
}


header{
	padding: 0px 4px 0px 0px;
	position: fixed;
	
	border-bottom: 1px solid  #dedede;
	background-color: #ededed;
	overflow: hidden;
	left: 0;
	right: 0;
	z-index: 100;
}



nav{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
}

#menu{
	height: 100%;
	
}
#menu li{
	padding: 0px 5px;
	display: inline-block;
	list-style: none;
	height: 100%;
}
#menu li:hover a span,#menu li:hover a h6{
	
	
	color:#222;
}

#menu li:hover {
	background-color: #ddd;
}

#menu a{
	text-decoration: none;
}
#menu span{
	color: #555;
	display: block;
	text-align: center;
	font-size: 1.2rem;
	
}
#menu h6{
	color: #555;
	font-weight: normal;
	font-size: 0.7rem;
	
	
}

header h3{
	color:#555;
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	
}

header h3 span{
	margin-right: 10px;
	font-size: 180%
}

#subheader{
	padding: 50px 10px 10px 10px ;
	background-color: #f5f5f5;
}

#subheader>div{
	display: inline-block;
}

#form>div{
	display: inline-block
}
.ui-datepicker{
    font-size:80% !important;;
}

#form label{
	
	margin-right: 4px;
	display: block;
	
	font-size: .9rem;
}


#div-subtotales > div{
	display: inline-block;
	margin-left: 30px
}


#div-subtotales > div > h5{
	
	font-weight: normal;
}

#div-subtotales > div > h4{
	
	text-align: center;
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	border: 1px solid #e8e8e8;
	padding: 4px 2px;
	text-transform: uppercase;
	font-weight: bold;
	
	font-family: "Segoe UI", verdana, sans-serif;
	font-size: 0.75rem;
}
input[type="text"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
	border: 1px solid #d8d8d8;
}
input[type="text"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
	border: 1px solid #4C9ED9;
	 
}



#div-graficos{
    
    margin-top: 2px;
    clear: both;
    
}

#div-graf1,#div-graf2,#div-graf3{
        
    float: left;
    padding: 2px;
}

#div-graf1{

    width: 32%;
    margin-right: 2px;
    margin-top: 20px;
    
}
#container-graf1{
	
	width: 100%;
}


#div-graf2{
    
     width: 32%;
    margin-right: 2px;
    margin-top: 20px;
  
   
}
#div-graf3{
   
    width: 32%;
    float: left;
    margin-top: 20px;
    
}

#div-graficos > div:hover{
  
   opacity: 0.8
}

#graf2,#graf1,#graf3{
   
  	width: 100%;
    height: 100%;

  
    
}

#contenido{
      
    margin-top: 20px;
    
    width: 100%;

   
    
}


#div-tecnicos{
  
   
    float: left;
    width: 27%;
   
    height: 350px;
    overflow-y: scroll;
    
    padding-left: 10px;
   
}
/*=============================================*/

#div-tecnicos table, #div-graficos table{
    border-collapse:collapse;
    width: 100%;
    font-family: 'Segoe UI', verdana,Arial,sans-serif;
   
    font-size: 0.8rem;
  }

#div-tecnicos table tr:nth-child(2n+1){
	
	background-color: #f0f0f0;
}

#div-tecnicos table tr.titulo td, #div-graficos table tr.title td{
    text-align: center;
    padding: 8px 0px;
    
    color: #fff;
    
    background-color: #00034A;
    
}
#div-tecnicos table tr.cabecera td,#div-graficos table tr.cabecera td{
    padding: 4px;       
    
    background-color: #0008C5;
	color: #fff;
    
}
#div-graficos table tr.cabecera td{
    text-align: center;
    font-weight: bold;
}

#div-tecnicos table tr.fila td,#div-graficos table tr.fila td{
    text-align: center;
   
    padding: 4px 0px;
	text-align: center;
	border: 1px solid #efefef;
   
}

#div-tecnicos table tr.fila td:first-child{
    text-align: left;
}



#div-tecnicos table tr.fila:hover>td{
	cursor:pointer;
	background-color: #e5e5e5;
	
}

/*=============================================*/
.nodo-activo{
   border:1px solid orange;
   
}
.item-nodo{
    border:none;
}

#container-map{
    
   
    /*float: right;*/
    width: 100%;
    
    height: 350px;
   
}

#container-map:hover{
     
     opacity: 0.8
}
