header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:45%;
}
#form>div{
	width: 100%;
}

#form label{
	display: inline-block;
	
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

input[type="text"], select,  input[type="date"],  input[type="time"],  textarea{
	
	margin-bottom: 8px;
	
}

#div-subtotales{
	margin-top: 20px;
	display: block !important;
}

#div-subtotales span{
	display: none;
}

#div-subtotales > div{
	margin-left: 0px;
	display: block;
	
}

#div-subtotales > div > h4{
	font-size: 90%;
}

#div-subtotales > div > h5{

	text-align: center;
}

#div-tecnicos{
	float: none;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}
#container-map{
	float: none;
	width: 100%;
}

#div-graf1,#div-graf2,#div-graf3{
        
    float: none;
    padding: 2px;
    display: block;
    width: 100%;

}