header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:45%;
}
#form>div:last-child{
	width: 100%;
}

#form label{
	display: inline-block;
	
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

#contenido input[type="text"], #contenido select, #contenido input[type="date"], #contenido input[type="time"], #contenido textarea{
	
	margin-bottom: 8px;
	
}


#carrusel #carrusel-anterior{
    top:0;
    left:0;
    bottom:0;
}
#carrusel #carrusel-siguiente{
    top:0;
    right:0;
    bottom:0;
}

#div-img {
    position: relative;
    float: none;
    width: 100%;
}

#div-detalles > div > div{

    display: block;
}