<!DOCTYPE html>
<html>

<head>
    <title>Incripcion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="js/alertify/css/alertify.min.css">
    <link rel="stylesheet" type="text/css" href="js/alertify/css/themes/bootstrap.min.css">

    <script type="text/javascript" src="../../js/jquery-ui/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>

    <style type="text/css">
        table tr.cabecera {
            background-color: #00034A;
        }
        
        table tr.cabecera td {
            color: #fff;
            text-align: center;
        }
        
        label {
            font-size: 0.8em;
        }
        
        .fondoGris {
            background: #EFEFEF;
        }
        
        .form-group {
            margin-bottom: 0.2rem;
        }
        
        .nav-tabs .nav-link {
            background: #EFEFEF;
            color: #999;
        }
        
        .form-control:disabled,
        .form-control[readonly] {
            background-color: #eee;
            opacity: 0.8;
        }
        
        #btnBuscar:hover {
            color: #333;
            text-shadow: 1px 0 #CCC;
        }
        
        select {
            padding: 3px;
            width: 100%;
        }
        
        .danger label {
            color: red;
        }
        
        .danger input {
            border: 1px solid red
        }
        
        .danger select {
            border: 1px solid red
        }
    </style>

</head>

<body>

    <div id="app">

        <header>
            <p class="text-center fondoGris" style="padding: 10px;">

                Planilla Operativa Gestión Comercial



            </p>
        </header>


        <div class="container">
            <form class="formExportar">
                <div class="row">



                    <div class="col-5 ">
                        <div class="form-group input-group-sm">
                            <label for="fecha">Fecha </label>
                            <input type="date" id="fecha" name="fecha" class="form-control" aria-label="fecha" v-model="fecha" :value="fecha">
                        </div>
                    </div>


                    <div class="col-5 input-group-sm">
                        <div class="form-group">
                            <label for="placa">Placa</label>
                            <div class="input-group input-group-sm">
                                <select class="selectPlaca form-control" id="selectplaca" name="placa">
									<option value="">Seleccione una placa...</option>
									<option v-for="placa in selectPlacas" :value ="placa.id">{{ placa.text }}</option>
								</select>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="form-group input-group-sm">
                            <label for="exportar">Opcion</label>

                            <button type="button" v-if="btnCancelar" class="btn btn-primary btn-sm form-control" @click="exportar()">Exportar</button>
                        </div>
                    </div>





                </div>
            </form>








        </div>





    </div>











    <script src="js/jquery/jquery-3.2.1.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/bootstrap/popper.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/alertify/alertify.min.js"></script>
    <script src="js/vue/vue.js"></script>
    <script src="js/app.js"></script>



</body>

</html>