header{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;	
}

header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:100%;
	
	margin-top: 10px;
}


#form label{
	display: block;
	width: 100%;

}

#div-subtotales > div{
	
	margin-left: 10px;
	margin-top: 10px;
	width: 100% !important;
}



input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

.titulo-tab{
	display: none;
}



#div-vendedor{
	display: block;
	padding: 10px 0px 0px 10px;
}

#div-tabla-general{
	
	display: none;
}

#div-grafico-municipio{
	clear: both;
	float: none;
	display: block;
	width: 100%;
	height: 100%;
}