*{
	padding: 0;
	margin: 0;
}


body{
	font-family: "Segoe UI", verdana, sans-serif;
	background-color: #fafafa;
	
}

header{
	padding: 0px 4px 0px 0px;
	margin-bottom: 20px;
	/*border-bottom: 1px solid  #0046A1;*/
	border-bottom: 1px solid  #dedede;
	
	/*background-color: #4C9ED9;*/
	background-color: #ededed;
	overflow: hidden;
}


li#icon-title{
min-width: 40px;
min-height: 45px;
text-align: center;
background-color: #0046A1;
}

li#icon-title span{
	color: #fff;
	text-shadow: 0 1px 1px #0046a1;
	font-size: 203%;
}

li#title{
	width: 170px;
}

nav{
	position: absolute;
	top:0;
	right: 0;
}


#menu li{
	padding: 2px 5px;
	display: inline-block;
	list-style: none;
}
#menu li:hover a span,#menu li:hover a h6{
	
	/*color:#030986;*/
	color:#222;
}

#menu li:hover {
	background-color: #ddd;
}

#menu a{
	text-decoration: none;
}
#menu span{
	color: #555;
	display: block;
	text-align: center;
	font-size: 1.2rem;
	/*text-shadow: 0 1px 1px #0046a1;*/
}
#menu h6{
	color: #555;
	font-weight: normal;
	font-size: 10px;
	/*text-shadow: 0 1px 1px #0046a1;*/
	
}

header h3{
	color:#555;
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	/*color:#fff;*/
	/*text-shadow: 0 1px 1px #0046a1;*/ 
}

header h3 span{
	margin-right: 10px;
	font-size: 180%
}
section{
	max-width: 1000px;
	margin: auto;
}
section form aside{
	width: 50%;
	float: left;

}
section form aside>div{
	padding: 8px;
	
}
section form aside>div fieldset{
	padding: 4px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	height: 480px;
}

legend{
	font-weight: bold;
}

form h5{
	
	font-weight: normal;
}

fieldset>div{
	margin-bottom: 5px;
	padding-left: 10px
}

#sol_externa{
	border: 1px solid #d8d8d8;
	margin-right: 10px;
}

#sol_externa +span{
	font-size: 13px;
}
input[type="text"],select,input[type="date"],input[type="time"],textarea{
	border: 1px solid #e8e8e8;
	padding: 4px 2px;
	text-transform: uppercase;
	font-weight: bold;
	width: 60%;
	font-family: "Segoe UI", verdana, sans-serif;
}
input[type="text"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
	border: 1px solid #d8d8d8;
}
input[type="text"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
	border: 1px solid #4C9ED9;
	 
}
form h5{
	display: inline-block;
	width: 21%;
	
}

#labelobs{
	vertical-align: 20px;
}
footer{
	clear: both;
	padding: 4px 0px;
	color:#8e8e8e;
	text-align: center;
	background-color: #f0f0f0;
}

footer span{
	margin-right: 8px;
}
