*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: "Segoe UI", sans-serif, Verdana, arial;
	/*background-image: url('../img/fondo1.jpg');*/
}









header{
    padding: 0px 4px 0px 0px;
    position: fixed;
    /*position: relative;*/
    border-bottom: 1px solid  #dedede;
    background-color: #ededed;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: 100;
}



nav{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
}

#menu{
    height: 100%;
    
}
#menu li{
    padding: 0px 5px;
    display: inline-block;
    list-style: none;
    height: 100%;
}
#menu li:hover a span,#menu li:hover a h6{
    
    /*color:#030986;*/
    color:#222;
}

#menu li:hover {
    background-color: #ddd;
}

#menu a{
    text-decoration: none;
}
#menu span{
    color: #555;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
}
#menu h6{
    color: #555;
    font-weight: normal;
    font-size: 0.7rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
    
}

header h3{
    color:#555;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    
}

header h3 span{
    margin-right: 10px;
    font-size: 180%
}

#subheader{
    padding: 50px 10px 10px 10px;
    background-color: #f5f5f5;
}

#subheader>div{
    display: inline-block;
}

#form>div{
    display: inline-block
}
.ui-datepicker{
    font-size:80% !important;;
}

#form label{
   
    margin-right: 4px;
    display: block;    
    font-size: .9rem;
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
    border: 1px solid #e8e8e8;
    padding: 4px 2px;
    /* text-transform: uppercase; */
    font-weight: bold;
    /*width: 60%;*/
    font-family: "Segoe UI", verdana, sans-serif;
    font-size: 0.75rem !important;
}
input[type="text"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
    border: 1px solid #d8d8d8;
}
input[type="text"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
    border: 1px solid #4C9ED9;
     
}










/*.ui-button{
	font-size: .9rem !important;
	margin-left:8px;
	padding:4px 8px !important; ;
	background-color: #005ab4 !important;
	color:#fff !important;
	border-radius:2px !important;
	border:none !important;
	border-bottom: 1px solid  #0000B3 !important;;
	border-top: 1px solid #73B9FF !important;
	
}*/

#div_1{ /*div Alumbrado Publico, fechas de Servidor y legalizacion*/
	border-bottom: 1px solid /*#00000C*/ #0000B3;
	position: relative;
	background-color: /*#fff*/ #112056;
	height:50px;
	/*margin-bottom: 8px;*/
}

/*#form{
  padding: 8px;
	background-color: #007fff;
	border-bottom: 1px solid #0000B3;
	border-top: 1px solid #73B9FF;
}
#form>label{
	color: #fff;
	margin-right: 10px;
}
#form>#txtOrden{
	padding: 5px;
	border: 1px solid #0000B3;
	
}*/
#form>#buscar:hover{
	background-color: #112056 !important;
}
/*div Alumbrado Publico, fechas de Servidor y legalizacion*/
#div_1 >div{
	display: inline-block
}

#atras{
 
  padding: 4px;
  margin-right: 20px;
  font-size: 2rem;
  color:#fff;
	
}
/*div Alumbrado Publico h3*/
#div_1_1  h3{
	font-size: 2rem;
	color: #fff;
	padding-left: 8px;
	display: inline;
}
/*div fechas servidor y legalizacion*/
#div_1_2{
	text-align: right;
	position: absolute;
	right: 0
}
/*div fechas servidor y legalizacion label*/
#div_1_2 label{
	margin-right: 4px;
	color:#444;
	font-size:13px;
}
/*div fechas servidor y legalizacion input*/
#div_1_2 input{
	padding-left:4px;
	border:1px solid #ddd;
	font-weight: bold;
}




#div_2{
	
	margin-top: 4px;
	margin-bottom: 8px;
}

#div_2 .wrapper{
	padding: 10px;
}

#div_2 .wrapper > div{

	display: inline-block;
}

#div_2 label{
	display: block;
	width: 100%;	
	color:#444;
	font-size:13px;
}






#div_3{
	padding: 10px;
}


#tabs .ui-tabs-nav{
    border: none !important;
    font-size: 14px !important;
}

#tabs .ui-widget-header{
    border:none !important;
    background-color: transparent !important;
}
#tabs .ui-widget {
    border: none !important;
    background: transparent !important;
    color: #333;
}
.ui-widget-content {
    border: none !important;
   
}

/*tab1*/
#tab1 >.wrapper{
	float: left;
	width: 33%;
}
#tab1>.wrapper>div{
	margin-top: 4px;
	/*padding: 0px 10px;*/
}

#tab1>.wrapper>div label{
	display: block;
	width: 100%;
	text-align: left;
	color:#444;
	font-size:13px;
}
#tab1>div span{
	color:#444;
	font-size:13px;
}
#tab1>.wrapper>div input[type='text']{
	font-size: 13px;
	font-weight: bold;
	width: 94%;
}

/*tab2*/
#tab2>.wrapper>div{
	margin-top: 4px;
}

#tab2>.wrapper>div label{
	display: inline-block;
	width: 110px;
	text-align: right;
	margin-right: 4px;
	color:#444;
	font-size:13px;
}
#tab2>.wrapper>div input[type='text']{
	font-size: 13px;
	font-weight: bold;
	width: 300px;
}

/*Tab4*/

#div-tabla{
	
	width: 45%;
  	overflow-y:scroll;
	float: left;
	max-height: 550px;
}
#div-detalle{
	
	float: left;
	width: 55%;
}

#div-tabla .wrapper{
	padding: 2px;
}

#div-detalle .wrapper{
	padding: 8px;
	overflow-y: hidden;
}

table{
    width: 100%;
    margin-top: 10px;
    font-size: 0.8rem;
    border-collapse:collapse;
    max-height: 100%;
    overflow-y: scroll;

}

table tr:nth-child(2n+1){
    
    background-color: #f0f0f0;
}

table tr.cabecera{
    background-color: #00034A;
}
table tr.cabecera td{
    color: #fff;
    text-align: center;
    padding: 8px 0px;
}

table tr.fila td{
    padding: 4px 0px;
    text-align: center;
    border: 1px solid #efefef;
}

table tr.fila:hover>td{
    cursor:pointer;
    background-color: #e5e5e5;
    
}


.fila-activa{
  background-color: #007fff !important;;
  color:#fff; 
}

#div-detalle>.wrapper>div{
	display: inline-block;
	width: 30%;
}

#div-detalle>.wrapper>div label{
	display: block;
	font-size: 12px;
	width: 100%;
	text-align: left;
	/*margin-right: 4px;*/
	color:#444
}
#div-detalle>.wrapper>div input[type='text']{
	display: block;
	font-size: 12px;
	width:94%;
	font-weight: bold;
}



/*galeria*/
#carrusel{
    margin: 10px auto;
    padding: 4px;
    /*text-align: center;*/
}

#list-img img{
    display: inline-block;
    /*width: 30%;
    height:200px;*/
    padding: 1px;
}

#list-img img:hover{
    opacity: 0.8;
    cursor: pointer;
}

#galeria{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    z-index: 100;
}

#menubar{
    background-color: #000;
    padding: 5px 20px;
    text-align: right;
    
}
#menubar a{
    font-size: 2.0rem;
    margin-right:20px;
    color:#fff;
}
#menubar a:hover{
    color:blue;
}

#img-max{
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

#img-max img{
   width: 50%;
   /*overflow: scroll;*/
	 transition: all .2s;
}

#title-img{
    padding: 5px;
    color: white;
    font-size: 1rem;
    font-family: verdana,Arial,sans-serif;
    margin-right: 40px;
    vertical-align: 8px;
}

.img-selected{
    
    opacity: 0.5;
    
}
#div-map{
	
	height: 200px;
	width: 100%;
	padding: 8px
}

#mapa{
	
	height: 100% !important;
	width: 100% !important;
	
}