
#btn-menu,#atras,#reset,#actualizar{
  
  margin-right: 10px;
  font-size: 1.5rem;
 
}
#btn-menu{
  display: inline;
}

.ui-button{
    font-size: 10px;
   
    
}


/*=============================================*/
#header ul{
     
      padding: 4px;
      height: 35px;
}
/*=============================================*/

#header ul li:nth-child(2){
    display: none;
}



#logo{
   display: none;
   
}



#header h3{
    
    font-size: 10px;
    padding-right: 0px; 
}
#header h5{
    
    font-size: 8px;
    padding-right: 0px;
}
#fecha{
    font-size: 10px;
   
    
}
#tecnico{
    font-size: 10px;
    
}
#modal h1{
    
    font-size: 2rem;
    
}
#modal p{
    
    font-size: 1rem;
    
}

#contenido{
    /*/position: relative;
    margin-top: 70px;*/
    margin-top: 46px;
}


#div-wrap-tecnicos{
   position:absolute; 
   width:100%;
   top:0;
   left:-100%;
   z-index: 1;

   
}
.show-div-wrap-tecnicos{
  left:0 !important;
}
#div-tecnicos{
  padding: 0px;
}

/*=============================================*/


#div-tecnicos table tr.titulo td/*, #infoWindow table tr.titulo td,#detalles table tr.titulo td*/{
    
    font-size:80%;
    padding: 4px;
    
}
#div-tecnicos table tr.cabecera td/*, #detalles table tr.cabecera td*/{
    
    font-size: 60%;
    
}

#div-tecnicos table tr.fila td{
    
    font-size: 51%;
    
   
}


#container-map{
    
    left: 0;
    top: 46;
   
    
}

