
#btn-menu,#atras,#reset,#actualizar{
  
  margin-right: 15px;
  font-size: 2rem;
 
}
#btn-menu{
  display: inline;
}

.ui-button{
    font-size: 10px;
   
    
}

/*=============================================*/
#header ul{
     
      padding: 4px;
      height: 35px;
}
/*=============================================*/


#logo{
   
    width: 150;
    height: 40px;
   
}



#header h3{
    
    font-size: 12px;
    padding-right: 0px; 
}
#header h5{
    
    font-size: 10px;
    padding-right: 0px;
}

#fecha{
    font-size: 10px;
   
    
}
#tecnico{
    font-size: 10px;
    
}

#modal h1{
    
    font-size: 2rem;
    
}
#modal p{
    
    font-size: 1rem;
    
}

#contenido{
    /*/position: relative;
    margin-top: 70px;*/
    margin-top: 46px;
}


#div-wrap-tecnicos{
   position:absolute; 
   width:50%;
   top:0;
   left:-50%;
   z-index: 1;

   
}
.show-div-wrap-tecnicos{
  left:0 !important;
}
#div-tecnicos{
  padding: 0px;
}

/*=============================================*/


#div-tecnicos table tr.titulo td/*, #infoWindow table tr.titulo td,#detalles table tr.titulo td*/{
    
    font-size:90%;
    padding: 4px;
    
}
#div-tecnicos table tr.cabecera td/*, #detalles table tr.cabecera td*/{
    
    font-size: 70%;
    
}

#div-tecnicos table tr.fila td{
    
    font-size: 61%;
    
   
}


#container-map{
    
    left: 0;
    top: 46;
   
    
}

