header{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;	
}

header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:100%;
	
	margin-top: 10px;
}

#form label{
	display: block;
	width: 100%;
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

.titulo-tab{
	display: none;
}


/*#tab2>div:first-child{
	float: none;
	width: 100%;
	clear: both;
}
#tab2>div:last-child{
	float: none;
	width: 100%;
	clear: both;
	height: 200px;
}*/

#grafico1{
	width: 100%;
	height: 450px;

	
}

#grafico2{
	width: 100%;
	height: 450px;

	
}

#tab3>div:first-child{
	float: none;
	width: 100%;
	clear: both;
	
}
/*#tab3>div:last-child{
	float: none;
	width: 100%;
	clear: both;
	height: 200px;
}*/

#grafico-municipio{
	height: 100%;

	
}