<!DOCTYPE html>
<html>

<head>
    <title>Incripcion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="js/alertify/css/alertify.min.css">
    <link rel="stylesheet" type="text/css" href="js/alertify/css/themes/bootstrap.min.css">

    <script type="text/javascript" src="../../js/jquery-ui/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>

    <style type="text/css">
        table tr.cabecera {
            background-color: #00034A;
        }
        
        table tr.cabecera td {
            color: #fff;
            text-align: center;
        }
        
        label {
            font-size: 0.8em;
        }
        
        .fondoGris {
            background: #EFEFEF;
        }
        
        .form-group {
            margin-bottom: 0.2rem;
        }
        
        .nav-tabs .nav-link {
            background: #EFEFEF;
            color: #999;
        }
        
        .form-control:disabled,
        .form-control[readonly] {
            background-color: #eee;
            opacity: 0.8;
        }
        
        #btnBuscar:hover {
            color: #333;
            text-shadow: 1px 0 #CCC;
        }
        
        select {
            padding: 3px;
            width: 100%;
        }
        
        .danger label {
            color: red;
        }
        
        .danger input {
            border: 1px solid red
        }
        
        .danger select {
            border: 1px solid red
        }
    </style>

</head>

<body>

    <div id="app">

        <header>
            <p class="text-center fondoGris" style="padding: 10px;">

                Vencimientos Vehículos

                <span id="btnBuscar" v-show="btnAnadir" class="float-right" style="font-size: .9em; cursor: pointer; width: 130px;" @click="guardar();">
					<i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar
		    	</span>

            </p>
        </header>


        <div class="container">
            <form class="formGuardar_vencimiento">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="placa">Placa</label>
                            <div class="input-group input-group-sm">
                                <select class="selectPlaca" id="selectplaca" name="placa" @change="datosPlaca(this.value);" :disabled="tablaGastos.length!=0">
									<option value="">Seleccione una placa...</option>
									<option v-for="placa in selectPlacas" :value ="placa.id">{{ placa.text }}</option>
								</select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <div class="input-group input-group-sm">
                                <input type="text" id="color" class="form-control" readonly aria-label="color" v-model="placaInfo.COLOR">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="tipoVehiculo">Tipo Vehiculo</label>
                            <div class="input-group input-group-sm">
                                <input type="text" id="tipoVehiculo" class="form-control" readonly aria-label="tipoVehiculo" v-model="placaInfo.TIPO_VEHICULO">

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="marca">Marca</label>
                            <div class="input-group input-group-sm">
                                <input type="text" id="marca" class="form-control" readonly aria-label="marca" v-model="placaInfo.MARCA">
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="cuadrilla">Cuadrilla</label>
                            <div class="input-group input-group-sm">
                                <input type="text" id="cuadrilla" class="form-control" readonly aria-label="Cuadrilla" v-model="placaInfo.CUADRILLA">

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <div class="input-group input-group-sm">
                                <input type="text" id="modelo" class="form-control" readonly aria-label="modelo" v-model="placaInfo.MODELO">
                            </div>
                        </div>
                    </div>

                </div>





                <div class="row">

                    <div class="col-12 col-sm-4">
                        <label for="placa">Tipo</label>
                        <div class="input-group input-group-sm">
                            <select id="t_vehiculo" name="t_vehiculo" v-model="t_vehiculo">
                                    <option value="">Seleccione un tipo...</option>
                            <option v-for="placa in selectTipos" :value ="placa.id">{{ placa.text }}</option>
						</select>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group input-group-sm">
                            <label for="descripcion">Descripcion </label>
                            <input type="text" id="descripcion" name="descripcion" class="form-control" required aria-label="descripcion" v-model="descripcion" placeholder="Ingrese una descripcción...">
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group input-group-sm">
                            <label for="fecha">Fecha </label>
                            <input type="date" id="fecha" name="fecha" class="form-control" aria-label="fecha" v-model="fecha" :value="fecha">
                        </div>
                    </div>

                </div>
            </form>






            <br>
            <div class="row">
                <div class="col-12">
                    <table class="table table-sm">
                        <thead class="fondoGris">
                            <tr class="cabecera">
                                <td>Tipo</td>
                                <td>Placa</td>
                                <td>Descripción</td>
                                <td>Fecha Vigencia</td>
                                <td>Estado</td>
                                <td style="text-align: center;" width="100">+</td>
                            </tr>
                        </thead>
                        <tbody id="detalle_gastos">
                            <tr v-for="(dato, index) in tablaVencidos">
                                <td v-text="dato.CODTIPOVENCE"></td>
                                <td v-text="dato.CEDULA"></td>
                                <td v-text="dato.DESCRIPCION"></td>
                                <td v-text="dato.FECHAVENCE"></td>
                                <td v-text="dato.ESTADO"></td>
                                <td width="100" style="text-align: center;">
                                    <i class="fa fa-eye" title="" style="cursor:pointer; margin: 0 0 10px 10px;" @click="verFuncionario(dato)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div id="addFucionario" class="modal fade bd-example-modal-lg" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">

                        <h6 class="modal-title" id="exampleModalLabel"> Vencimiento del vehiculo con placas {{idPlaca}} - {{t_vehiculo_modal}}
                        </h6>


                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form enctype="multipart/form-data" class="formGuardar">

                        <div class="modal-body">

                            <div class="row">

                                <form>

                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                            <label for="descripcion_modal">Descripcion </label>
                                            <input type="text" id="descripcion" name="descripcion_modal" class="form-control" required aria-label="descripcion_modal" v-model="descripcion_modal">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group input-group-sm">
                                            <label for="fechavence_modal">Fecha </label>
                                            <input type="date" id="fechavence_modal" name="fechavence_modal" class="form-control" aria-label="fechavence_modal" v-model="fechavence_modal">
                                        </div>
                                    </div>

                                </form>

                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="button" v-if="btnCancelar" class="btn btn-secondary btn-sm" @click="resetModal()">Cancelar</button>

                            <button type="button" v-if="btnActualizar" class="btn btn-primary btn-sm" @click="actualizar()">Actualizar</button>
                            <button type="button" v-if="btnEditar" class="btn btn-info btn-sm" @click="editar()">Editar</button>
                            <button type="button" v-if="btnEliminar" class="btn btn-danger btn-sm" @click="eliminar()">Eliminar</button>



                        </div>

                    </form>

                </div>


            </div>
        </div>



    </div>











    <script src="js/jquery/jquery-3.2.1.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/bootstrap/popper.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/alertify/alertify.min.js"></script>
    <script src="js/vue/vue.js"></script>
    <script src="js/app.js"></script>



</body>

</html>