/*=============================================*/
*{
      margin: 0;
      padding: 0;
}
html{
  height: 100%;
}
body{
    background-color:#fafafa;
    font-family: "Segoe UI", Verdana, sans-serif, Arial;
    height: 100%;
}

#header .ui-button{
    /*font: 75% "Trebuchet MS", sans-serif;*/
    font-size: 0.8rem;
    
}

#header{
  
  background-color: #ededed;
  border-bottom:1px solid #dedede;
  /*border-top:1px solid #ffffff;
  margin-bottom:2px;*/
  /*box-shadow:0px 2px 5px #a6a6a6;*/
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2;
 
}

/*=============================================*/
#logo{
   
    float: right;
    position: absolute;
    top:2;
    right: 5;
    width: 100px;
    height: 57px;
}

/*=============================================*/
/*#header ul{
      padding: 10px 20px 20px 20px;
      height: 35px;
}*/
/*=============================================*/

/*=============================================*/

#header nav{

  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
}

#menu{
  height: 100%;
  /*line-height: 2.6;*/
}
#menu li{

  padding: 0px 5px;
  display: inline-block;
  list-style: none;
  height: 100%;
  cursor:pointer;
     
}
#menu a {
    text-decoration: none;
}

#menu span {
    color: #555;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

#menu h6 {
    color: #555;
    font-weight: normal;
    font-size: 0.7rem;
}

#menu li:hover a span,#menu li:hover a h6{
  
   color:#222;
}

#menu li:hover {
  background-color: #ddd;
}
/*=============================================*/

#header h3{
    /*font-family: verdana,Arial,sans-serif;*/
    padding-top: 5px;
    font-weight: normal;
    font-size: 1rem;
    color:#5f5f5f;
    text-align: center;
    /*text-shadow:0px 1px #ffffff;*/
}
#header h5{
    /*font-family: verdana,Arial,sans-serif;*/
     font-weight: normal;
    color:#5f5f5f;
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 5px;
    /*text-shadow:0px 1px #ffffff;*/
}
#modal{
  padding-top: 150px;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0%;
  background-color: #e7e7e7;
  z-index: 1;
}
#modal h1{
    color:#5f5f5f;
    text-shadow: 0 1px #ffffff;
    font-size: 300%;
    text-align: center;
    font-family: verdana,Arial,sans-serif;
}
#modal p{
    color:#5f5f5f;
    text-shadow: 0 1px #ffffff;
    font-size: 150%;
    text-align: center;
    font-family: verdana,Arial,sans-serif;
}

#contenido{
    /*position: relative;*/
    margin-top: 47px;
    height: calc(100% - 47px);
    height: -moz-calc(100% - 47px);
    height: -webkit-calc(100% - 47px);
    height: -o-calc(100% - 47px);
    height: -ms-calc(100% - 47px);
}


div#div-tecnicos{
   float: left;
    
    width:25%;
    height:96%;
    margin-right:4px;
    background-color:#F5F5F5;
    overflow-y: scroll;
}
/*=============================================*/

#div-tecnicos table/*, #infoWindow table,#detalles table*/{
    /*border-collapse:collapse;
    width: 100%;
    font-family: verdana,Arial,sans-serif;
    border-left:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;*/

    border-collapse:collapse;
    width: 100%;
    font-family: 'Segoe UI', verdana,Arial,sans-serif;   
    font-size: 0.8rem;
  }

  #div-tecnicos table tr:nth-child(2n+1){
  
    background-color: #f0f0f0;
  }

#div-tecnicos table tr.titulo td/*, #infoWindow table tr.titulo td,#detalles table tr.titulo td*/{
    /*text-align: center;
    color: #ffffff;
    background-color: #5f5f5f;
    font-size:100%;
    padding: 4px;
    border: 1px solid #000000;*/

    text-align: center;
    padding: 8px 0px;    
    color: #fff;    
    background-color: #00034A;
}
#div-tecnicos table tr.cabecera td/*, #detalles table tr.cabecera td*/{
    /*padding: 4px;
    text-align:left;
    color:#5f5f5f;
    border-bottom:1px solid orange;
    
    background-color:#ededed;
    font-weight:normal;
    font-size: 80%;
    text-shadow: 1px 1px #ffffff;*/

    padding: 4px;
    background-color: #0008C5;
    color: #fff;
}

#div-tecnicos table tr.fila td{
    /*text-align: center;
    font-size: 71%;
    color:#858585;
    padding:4px;
    background-color:#f5f5f5;*/

    text-align: center;
    padding: 4px 0px;
    text-align: center;
    border: 1px solid #efefef;
   
   
}
/*#detalles table tr.fila td{
    text-align: left;
    font-size: 71%;
    color:#858585;
    padding:4px;
    background-color:#f5f5f5;
    border: 1px solid #e8e8e8;
   
}*/
/*#detalles table tr.fila td:first-child,#detalles table tr.fila td:last-child{ text-align: center;}*/

/*#infoWindow table tr.fila td{
    text-align: left;
    font-size: 71%;
    color:#858585;
    padding:4px;
    background-color:#f5f5f5;
    border: 1px solid #e8e8e8;
}*/

#div-tecnicos table tr.fila td:first-child/*, #infoWindow table tr.fila td:first-child*/{
    text-align: left;
}
#div-tecnicos table tr.fila:hover{
    /*border:1px solid orange;
    cursor:pointer;*/

    cursor:pointer;
    background-color: #e5e5e5;
}









/*=============================================*/
.nodo-activo{
   border:1px solid orange;
   
}
.item-nodo{
    border:none;
}
#container-map{
    position: relative;
    float: right;
    display: inline;
    width:73%;
    height: 96%;
    
}
#div-map{
    
    /*width:100%;*/
    height: 100%;
    
    
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}

#title-foto{
    background-color:#5F5F5F;
    margin:0;
    padding: 4px;
    border:1px solid #000000;
    color:#ffffff;
    font-family: verdana,Arial,sans-serif;
}

/*#detalles{
  float:right;
  display: inline;
  width:17%;
  background-color: #fafafa;
  position: relative;
  
}*/


