*{
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
}

body{
	font-family: "Segoe UI", verdana, sans-serif;
	background-color: #fafafa;
	
}

header{
	padding: 0px 4px 0px 0px;
	position: fixed;
	
	border-bottom: 1px solid  #dedede;
	background-color: #ededed;
	overflow: hidden;
	left: 0;
	right: 0;
	z-index: 4;
}



nav{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
}

#menu{
	height: 100%;
	
}
#menu li{
	padding: 0px 5px;
	display: inline-block;
	list-style: none;
	height: 100%;
}
#menu li:hover a span,#menu li:hover a h6{
	
	
	color:#222;
}

#menu li:hover {
	background-color: #ddd;
}

#menu a{
	text-decoration: none;
}
#menu span{
	color: #555;
	display: block;
	text-align: center;
	font-size: 1.2rem;
	
}
#menu h6{
	color: #555;
	font-weight: normal;
	font-size: 0.7rem;
	
	
}

header h3{
	color:#555;
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	
}

header h3 span{
	margin-right: 10px;
	font-size: 180%
}

/* sub-header */

#subheader{
	position: fixed;
	z-index: 5;
	top:42px;
	left: 0px;
	right: 0px;
	background-color: #f5f5f5;
	padding: 5px;
}

#txtbuscar{
	font-weight: normal !important;
	text-transform: none;
	width: 35% !important;
}


/* Contenido */

#contenido{
	
	padding-top: 100px;
	height: calc(100% - 100px);
	height: -o-calc(100% - 100px);
	height: -ms-calc(100% - 100px);
	height: -moz-calc(100% - 100px);
	height: -webkit-calc(100% - 100px);
}


/* panel-contactos */


#panel-contactos {
    float: left;
    width: 36%;
    height: 100%;
}
#panel-contactos>div{
	height: 100%;
	overflow-y:scroll;
}
#panel-contactos ul li{
	list-style: none;
	padding: 5px 0 0 10px;
	height: 45px;
	cursor: pointer;
}

#panel-contactos ul li:hover{
	background-color: #e5e5e5;
}

#panel-contactos ul li a{
	text-decoration: none;

}

/*#panel-contactos ul li img{
	float: left;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border: 1px solid #e8e8e8;
	border-radius: 50%;
}*/

#panel-contactos ul li span.foto span{

	float: left;
	padding: 3px;
	font-size: 2rem;
	/*border: 1px solid rgb(83, 81, 81);*/
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	vertical-align: middle;
	line-height: 0;
	margin-right: 10px;
	background-color: #c8c8c8;
	color: #808080;
}

#panel-contactos ul li h5{
	
	color:#00034A;
	text-transform: uppercase;
}

#panel-contactos ul li h6{
	font-weight: 600;
	color:#555;
	text-transform: capitalize;
}

.contacto-activo{
	border-left: 2px solid #0008C5;
	background-color: #e5e5e5;
}

/* panel- detalles */

#panel-detalles {
    float: left;
    width: 64%;
    height: 100%;
}

#panel-detalles > div{
	height: 100%;
	overflow-y:scroll; 
}
#menu-panel-detalles{
	/*height: 100%;*/
	text-align: right;
}
#menu-panel-detalles li{
	padding: 0px 5px;
	display: inline-block;
	list-style: none;
	height: 100%;
}
#menu-panel-detalles li:hover a span,#menu-panel-detalles li:hover a h6{
	
	
	color:#222;
}

#menu-panel-detalles li:hover {
	background-color: #ddd;
}

#menu-panel-detalles a{
	text-decoration: none;
}
#menu-panel-detalles span{
	color: #555;
	display: block;
	text-align: center;
	font-size: 1.2rem;
	
}
#menu-panel-detalles h6{
	color: #555;
	font-weight: normal;
	font-size: 0.7rem;
}



#info-panel-detalles{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#info-panel-detalles img{
	width: 100px;
	height: 100px;
	border: 1px solid;
	border-radius: 50%;

}

#info-panel-detalles span.foto span{

	
	padding: 3px;
	font-size: 4rem;	
	border-radius: 50%;
	width: 100px;
	height: 100px;	
	background-color: #c8c8c8;
	color: #808080;
	display: inline-block;
}

#info-panel-detalles-nombres{
	color: #00034A;
	text-transform: uppercase;
}

#info-panel-detalles-razonsocial{
	text-transform: capitalize;
	font-weight: normal;
	color:#555;
}

#info-panel-detalles-ciudad{
	text-transform: capitalize;
	font-weight: 300;
	color:#555;
}

#info-panel-detalles-dpto{
	text-transform: capitalize;
	font-weight: 300;
	color:#555;
}

#info-panel-detalles-pais{
	text-transform: capitalize;
	font-weight: 300;
	color:#555;
}


/* panel telfonos - correos */

#tel-panel {
    float: left;
    width: 50%;
}
#tel-panel>div{
	padding: 4px;
}

#correo-panel {
    float: left;
    width: 50%;
}
#correo-panel>div{
	padding: 4px;
}


table{
	width: 100%;
	margin-top: 10px;
	font-size: 0.8rem;
	border-collapse:collapse;
	max-height: 100%;
	overflow-y: scroll;
}

table tr:nth-child(2n+1){
	
	background-color: #f0f0f0;
}

table tr.cabecera{
	background-color: #00034A;
}
table tr.cabecera td{
	color: #fff;
	text-align: center;
	padding: 8px 0px;
}

table tr.fila td{
	padding: 8px 0px;
	text-align: center;
	border: 1px solid #efefef;
}

table tr.fila:hover>td{
	cursor:pointer;
	background-color: #e5e5e5;
	
}


input[type="text"],select,input[type="date"],input[type="time"],textarea{
	border: 1px solid #e8e8e8;
	padding: 4px 2px;
	text-transform: uppercase;
	font-weight: bold;
	width: 190px;
	font-family: "Segoe UI", verdana, sans-serif;
}
input[type="text"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
	border: 1px solid #d8d8d8;
}
input[type="text"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
	border: 1px solid #4C9ED9;
	 
}


/* form nuevoCliente */

#form-nuevoCliente, #form-editarCliente{
	display: none;
    position: fixed;
    z-index: 6;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgb(250, 250, 250);
    overflow-y: scroll;
}

.header-form{
	padding: 0px 4px 0px 0px;
	border-bottom: 1px solid  #dedede;
	background-color: #ededed;
	/*position: relative;*/
	position: fixed;	
	overflow: hidden;
	left: 0;
	right: 0;
	/*z-index: 100;*/
}

.header-form h3{
	color:#555;
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	
}


.header-form nav{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
}

.header-form .menu{
	height: 100%;
	
}
.header-form .menu li{
	padding: 0px 5px;
	display: inline-block;
	list-style: none;
	height: 100%;
}
.header-form .menu li:hover a span, .header-form .menu li:hover a h6{	
	
	color:#222;
}

.header-form .menu li:hover {
	background-color: #ddd;
}

.header-form .menu a{
	text-decoration: none;
}
.header-form .menu span{
	color: #555;
	display: block;
	text-align: center;
	font-size: 1.2rem;
	
}
.header-form .menu h6{
	color: #555;
	font-weight: normal;
	font-size: 0.7rem;
	
	
}



.contenido-form label{
	display: block;
	font-size: 0.8rem;
}

.contenido-form > div{
	padding: 57px 10px 10px 10px;
	width: 600px;
	margin: auto;
}
.contenido-form > div > div{
	display: inline-block;
	margin-bottom: 12px;
}

#pais,#pais-editarCliente, #departamento,#departamento-editarCliente, #municipio, #municipio-editarCliente{
	width: 195px;
}


#tel-correo-panel-form-nuevoCliente, #tel-correo-panel-form-editarCliente{
	display: block;
}


#tel-panel-form-nuevoCliente,#tel-panel-form-editarCliente, #correo-panel-form-nuevoCliente, #correo-panel-form-editarCliente {
    float: left;
    width: 50%;
}

#tel-panel-form-nuevoCliente>div,#tel-panel-form-editarCliente>div, #correo-panel-form-nuevoCliente>div, #correo-panel-form-editarCliente>div{

	padding: 4px;
}

#agregar-tel,#agregar-tel-editarCliente, #agregar-correo, #agregar-correo-editarCliente{
    text-align: center;
    display: block;
    color: #555;
    font-size: 0.8rem;
}

#agregar-tel:hover,#agregar-tel-editarCliente:hover, #agregar-correo:hover, #agregar-correo-editarCliente:hover{
    text-align: center;
	color: #000;
}

#agregar-tel span:first-child, #agregar-tel-editarCliente span:first-child, #agregar-correo span:first-child, #agregar-correo-editarCliente span:first-child {
    font-size: 1.5rem;
    margin-right: 10px;
}

#agregar-tel span:last-child, #agregar-tel-editarCliente span:last-child, #agregar-correo span:last-child, #agregar-correo-editarCliente span:last-child {
    font-size: 0.8rem;
    
}

a.borrar-tel,a.borrar-tel-nuevo,a.borrar-tel-viejo, a.borrar-correo, a.borrar-correo-nuevo, a.borrar-correo-viejo{
	font-size: 1.7rem;
}








