header h3{
	text-align: left;
}


li#title{
	width: 130px;
}
li#title h3{
	font-size: 95%;
}

li#menu h6{
	
	font-size: 10px;
	
	
}

#txtbuscar{
	
	width: 100% !important;
}

#panel-contactos ul li{
	
	padding: 4px;
	height: auto;
	text-align: center;
}

#panel-contactos ul li span.foto span{

	float: none;
	padding: 0px;
	display: inline-block;
	margin-right: 0px;
	
}

#panel-contactos ul li h5{
	
	font-size: 0.7rem;
}

#panel-contactos ul li h6{
	font-size: 0.6rem;
}


#info-panel-detalles span.foto span{

	
	padding: 0px;
	font-size: 3rem;	
	border-radius: 50%;
	width: 80px;
	height: 80px;	
	
}

#info-panel-detalles-nombres{
	font-size: 1rem;
}

#info-panel-detalles-razonsocial{
	font-size: 0.79rem;
}



#tel-panel {
    float: none;
    width: 100%;
}


#correo-panel {
    float: none;
    width: 100%;
}



/* form */

.header-form h3{
	
	text-align: left;
		
}


.contenido-form > div {
    /*padding: 20px 10px 10px 10px;*/
    width: 100%;
    
}

.contenido-form > div > div {
    display: block;
    
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 94% !important;
	display: block;
	
}

#tel-panel-form-nuevoCliente, #correo-panel-form-nuevoCliente {
    float: none;
    width: 94%;
    margin-bottom: 12px;
}