header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:45%;
}
#form>div:last-child{
	width: 100%;
}

#form label{
	display: inline-block;
	
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

#contenido input[type="text"], #contenido select, #contenido input[type="date"], #contenido input[type="time"], #contenido textarea{
	
	margin-bottom: 8px;
	
}

.titulo-tab{
	display: none;
}


#section1 > div{
	float: none;
	width: 100%;
	display: block;
}



#actaYorden >div{
   float: none !important;
   display: block;
   width: 100% !important;
}

#box1-txtorden{
    display: block;
    width: 100%
        
}



.input-cod {
    width: 35% !important;
   
}

.input-nombre {
    width: 63% !important;
}




#section1 {
    height: auto;
}
#section1 > div .box-container{
	height: auto;
}




#tab1-box1, #tab1-box2, #tab1-box3 {
    float: none;
    display:block;
    width: 100%;
    height: auto;
}


.tab1-box-container {
    height: auto;
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 10px;
}



#tab2 .tab-container > .container_fieldset {
    float: none;
    width: 100%;
    position: relative;
}




.tab2-txtCodMedida, .tab2-txtCodCodigo, .tab2-txtCodMarca {
    width: 30% !important;
}
.tab2-txtNombreMedida, .tab2-txtNombreCodigo, .tab2-txtNombreMarca {
    width: 66% !important;
}


#tab7 .tab-container > div:first-child {
    width: 100%;
   
}

#tab7 .tab-container > div:last-child {
    width: 100%;
    margin-top: 20px;
}

