*{
	padding: 0;
	margin: 0;
}


body{
	font-family: "Segoe UI", verdana, sans-serif;
	background-color: #fafafa;
	
}

header{
	padding: 0px 4px 0px 0px;
	position: fixed;
	
	border-bottom: 1px solid  #dedede;
	background-color: #ededed;
	overflow: hidden;
	left: 0;
	right: 0;
	z-index: 100;
}



nav{
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
}

#menu{
	height: 100%;
	
}
#menu li{
	padding: 0px 5px;
	display: inline-block;
	list-style: none;
	height: 100%;
}
#menu li:hover a span,#menu li:hover a h6{
	
	
	color:#222;
}

#menu li:hover {
	background-color: #ddd;
}

#menu a{
	text-decoration: none;
}
#menu span{
	color: #555;
	display: block;
	text-align: center;
	font-size: 1.2rem;
	
}
#menu h6{
	color: #555;
	font-weight: normal;
	font-size: 0.7rem;
	
	
}

header h3{
	color:#555;
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	padding: 10px;
	
}

header h3 span{
	margin-right: 10px;
	font-size: 180%
}


section{
	max-width: 1000px;
	margin: auto;
	padding-top: 50px;
}
section form aside{
	width: 50%;
	float: left;

}
section form aside>div{
	padding: 8px;
	
}
section form aside>div fieldset{
	padding: 4px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
	height: 480px;
}

legend{
	font-weight: bold;
}

form h5{
	
	font-weight: normal;
}

fieldset>div{
	margin-bottom: 5px;
	padding-left: 10px
}

#sol_externa{
	border: 1px solid #d8d8d8;
	margin-right: 10px;
}

#sol_externa +span{
	font-size: 13px;
}
input[type="text"],select,input[type="date"],input[type="time"],textarea{
	border: 1px solid #e8e8e8;
	padding: 4px 2px;
	text-transform: uppercase;
	font-weight: bold;
	width: 60%;
	font-family: "Segoe UI", verdana, sans-serif;
}
input[type="text"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
	border: 1px solid #d8d8d8;
}
input[type="text"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
	border: 1px solid #4C9ED9;
	 
}
form h5{
	display: inline-block;
	width: 20%;
	
}

.ui-datepicker{
    font-size:80% !important;
}

.ui-autocomplete {
    font-size:12px;
    max-height: 200px;
    max-width:350px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }

#labelobs{
	vertical-align: 20px;
}
footer{
	clear: both;
	padding: 4px 0px;
	color:#8e8e8e;
	text-align: center;
	background-color: #f0f0f0;
}

footer span{
	margin-right: 8px;
}
