header h3{
	text-align: left;
}


li#title{
	width: 130px;
}
li#title h3{
	font-size: 95%;
}

li#menu h6{
	
	font-size: 10px;
	
	
}

section{
	padding-top: 40px
}

section form aside{
	width: 100%;
	float: none;

}

section form aside>div fieldset{
	
	height: auto;
}
form h5{
	display: block;
	width: 100%;
	
}
input[type="text"],select,input[type="date"],input[type="time"],textarea{

	width: 94%;
	
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
footer p{
	font-size: 10px;
}
