<!DOCTYPE html>
<html>
<head>
	<title>Incripcion</title>
	<meta charset ="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/fontawesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="js/alertify/css/alertify.min.css">
	<link rel="stylesheet" type="text/css" href="js/alertify/css/themes/bootstrap.min.css">

	<style type="text/css">



        #grafico-preventas, #grafico-clientesImpactados {
            min-width: 73%;
            height: 330px;
        }

		label{
			font-size: 0.8em;
		}
		.fondoGris {
			 background: #EFEFEF;
		}
		.form-group {
		    margin-bottom: 0.2rem;
		}
		.nav-tabs .nav-link {
			background: #EFEFEF;
			color:#999;
		}
		.form-control:disabled, .form-control[readonly] {
		    background-color: #eee;
		    opacity: 0.8;
		}
		#btnBuscar:hover{
			color: #333;
			text-shadow: 1px 0 #CCC;
		}
		select{
			padding: 3px;
			width: 100%;
		}
		table{
			font-size: .8em;
		}




	</style>

</head>
<body>

	<div id="app">

		<header>
		  <p class="text-center fondoGris" style="padding: 10px;">

		     Consulta Gastos de Vehiculos

            <span id="btnExportar" class="float-right" style="font-size: .9em; cursor: pointer; width: 100px;" @click="exportar()">
            	<i class="fa fa-download" aria-hidden="true"></i> Exportar
            </span>

			<span class="float-right" style="font-size: .9em; cursor: pointer; width: 100px;" @click="consultar()">
            	<i class="fa fa-search" aria-hidden="true"></i> Consultar
            </span>



		  </p>
		</header>


		<div class="container-fluid">

				<div class="row">

				<div class="col-12 col-sm-3">
					<div class="form-group input-group-sm">
						<label for="fechaInicial">Fecha Inicial </label>
					    <input type="date" id="fechaInicial" name="fechaInicial" class="form-control" required aria-label="fechaInicial" v-model="fechaInicial">
					</div>
				</div>

				<div class="col-12 col-sm-3">
					<div class="form-group input-group-sm">
						<label for="fechaFinal">Fecha Final </label>
					    <input type="date" id="fechaFinal" name="fechaFinal" class="form-control" required aria-label="fechaFinal" v-model="fechaFinal">
					</div>
				</div>

				<div class="col-12 col-sm-3">
					<div class="form-group input-group-sm">
						<label for="nomProveedor">Tipo de Gasto </label>

						<select class="selectTipoGasto" id="selectTipoGasto" name="selectTipoGasto" required v-model="tipoGasto">
							<option value="">Seleccione...</option>
							<option value="TODOS"> << TODOS >> </option>
							<option v-for="selectTipoGasto in selectTipoGastos" :value="selectTipoGasto.CODIGO">{{selectTipoGasto.NOMBRE}}</option>
						</select>

					</div>
				</div>

				<div class="col-12 col-sm-3">
					<div class="form-group input-group-sm">
						<label for="nomProveedor">Placa </label>

						<select class="selectPlaca" id="selectPlaca" name="selectPlaca" required v-model="placa">
							<option value="">Seleccione...</option>
							<option value="TODOS"> << TODOS >> </option>
							<option v-for="selectPlaca in selectPlacas" :value="selectPlaca.id">{{selectPlaca.text}}</option>
						</select>

					</div>
				</div>



				</div>
				<br>
		

		</div>




		<div class="container-fluid">

			<div class="container" style="max-width: 100%;">

				<br>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#datos">Datos</a>
					</li>
					<li class="nav-item" id="tabValorizado">
						<a class="nav-link" data-toggle="tab" href="#tipo">Tipo de gastos</a>
					</li>
					<li class="nav-item" id="tabCantidades">
						<a class="nav-link" data-toggle="tab" href="#proveedor">Proveedor</a>
					</li>
					

				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div id="datos" class=" tab-pane active" ><br>
				

						<div class="row">
							<div class="col-12">
								<table class="table table-sm" >
								  <thead class="fondoGris">
									<tr>
									  <th>Fecha</th>
									  <th>Placa</th>
									  <th>Propietario</th>
									  <th>Desc.</th>
									  <th>Tipo Vehiculo</th>
									  <th>Tipo de Gasto</th>
									  <th>Proveedor</th>
									  <th>Valor</th>
									  <th>Doc.</th>
									  <th>Soporte</th>
									</tr>
								  </thead>
								  <tbody id="detalle_gastos">
										<tr v-for="(dato, index) in tablaGastos">
										  <td v-text ="dato.FECHA"></td>
										  <td v-text ="dato.PLACA"></td>
										  <td v-text ="dato.PROPIETARIO"></td>
										  <td v-text ="dato.DESCUENTO"></td>
										  <td v-text ="dato.TIPO_VEHICULO"></td>
										  <td v-text ="dato.TIPO_GASTO"></td>
										  <td v-text ="dato.PROVEEDOR"></td>
										  <td v-text ="dato.VALOR"></td>
										  <td v-text ="dato.FACTURA"></td>
										  <td style="text-align: center;">
											  <i class="fa fa-file-picture-o"  style="cursor: pointer; font-size: 1.5em" @click="showSoporte(dato)"></i>
										  </td>
									  </tr>
								  </tbody>
								</table>
							</div>
						</div>


					</div>


					<div id="tipo" class="container tab-pane fade"><br>

						<div id="div-total-preventas" >
							<h3 id="total-preventas" class="text-center">0</h3>
							<h5 class="text-center">Total</h5>
						</div>

						<div id='div-grafico-preventas'>
							<div id='grafico-preventas'></div>
						</div>



					</div>

					<div id="proveedor" class="container tab-pane fade"><br>
						
						<div id="div-total-clientesImpactados">
							<h3 class="text-center" id="total-clientesImpactados">0</h3>
							<h5 class="text-center" >Total</h5>
						  </div>
			
						  <div id='div-grafico-clientesImpactados'>
							<div id='grafico-clientesImpactados'></div>
						  </div>
						</div>


					</div>


				</div>
			</div>

		



		<div id="modalSoporte" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" >
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">

			    	<div class="modal-header">
				        <h6 class="modal-title" id="exampleModalLabel">Soporte</h6>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>

					<div class="modal-body">
						<div class="row">
							<div class="col-12">
								<img src="" id="imgSoporte" style="width: inherit;">
								<!-- <iframe src="" id="imgSoporte" style="width: inherit;"></iframe> -->
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
					</div>




			    </div>
			  </div>
		</div>

	</div>



	<script src="js/jquery/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap/popper.js"></script>
	<script src="js/bootstrap/bootstrap.min.js"></script>
	<script src="js/alertify/alertify.min.js"></script>
	<script src="js/vue/vue.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript" src="../../js/highcharts/js/highcharts.js"></script>
    <script type="text/javascript" src="../../js/highcharts/js/highcharts-3d.js"></script>
	<script type="text/javascript" src="../../js/accounting.js"></script>
	<script lang="javascript" src="js/xlsx.full.min.js"></script>
    <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>



</body>
</html>