/*=============================================*/
*{
      margin: 0;
      padding: 0;
}
body{
    background-color:#fafafa;
    font-family: "Segoe UI", verdana, sans-serif;
}

#header .ui-button{
      font: 67% "Trebuchet MS", sans-serif;
}
/*=============================================*/


header{
    padding: 0px 4px 0px 0px;
    position: fixed;
    /*position: relative;*/
    border-bottom: 1px solid  #dedede;
    background-color: #ededed;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: 100;
}



nav{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
}

#menu{
    height: 100%;
    
}
#menu li{
    padding: 0px 5px;
    display: inline-block;
    list-style: none;
    height: 100%;
}
#menu li:hover a span,#menu li:hover a h6{
    
    /*color:#030986;*/
    color:#222;
}

#menu li:hover {
    background-color: #ddd;
}

#menu a{
    text-decoration: none;
}
#menu span{
    color: #555;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
}
#menu h6{
    color: #555;
    font-weight: normal;
    font-size: 0.7rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
    
}

header h3{
    color:#555;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    
}

header h3 span{
    margin-right: 10px;
    font-size: 180%
}


#subheader{
   padding: 50px 10px 10px 10px;
    background-color: #f5f5f5;
}

#subheader>div{
    display: inline-block;
}

#form>div{
    display: inline-block
}
.ui-datepicker{
    font-size:80% !important;;
}

#form label{
   
    margin-right: 4px;
    display: block;    
    font-size: .9rem;
}

#contenido label{
   
    margin-right: 4px;
    display: block;    
    font-size: .9rem;
}



input[type="text"],select,input[type="date"],input[type="time"],textarea{
    border: 1px solid #e8e8e8;
    padding: 4px 2px;
    text-transform: uppercase;
    font-weight: bold;
    /*width: 60%;*/
    font-family: "Segoe UI", verdana, sans-serif;
    font-size: 0.75rem !important;
}
input[type="text"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
    border: 1px solid #d8d8d8;
}
input[type="text"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
    border: 1px solid #4C9ED9;
     
}



#contenido{
    /*margin-top: 10px;*/
    padding: 10px;
    height: calc(100% - 150px);
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
}


/*=============================================*/
#header{
  background-color: #e7e7e7;
  border-bottom:1px solid #a6a6a6;
  border-top:1px solid #ffffff;
  margin-bottom:2px;
  box-shadow:0px 2px 5px #a6a6a6;
  padding: 4px 10px;
  position: relative;
  /*position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2;*/
  
  
}


/*=============================================*/




#carrusel{
    position: relative;
    width: 100%;
    height: 78px;
    margin: 4px auto;
    /*padding: 4px;*/
    overflow: hidden;
    /*background-color: #f5f5f5;
    box-shadow: 0px 0px 10px #8d8d8d;*/
}
#list-img{
    position: relative;
    width: 1000%;
}
#list-img img{
    display: inline-block;
    width: 150px;
    height: 75px;
    margin-right:4px;
    
}
 #list-img:first-child{
     margin-left:10px;
     border: 3px solid;
 }

#list-img img:hover{
    /*box-shadow: 0 0 4px orange;*/
    opacity: 0.8;
    cursor: pointer;
}

#carrusel:hover #carrusel-anterior{
    top:0;
    left:0;
    bottom:0;
}
#carrusel:hover #carrusel-siguiente{
    top:0;
    right:0;
    bottom:0;
}
#carrusel-anterior,#carrusel-siguiente{
    width:40px;
    text-decoration:none;
    color: #828282;
    font-family: verdana,Arial,sans-serif;
    font-size:70%;
    font-weight:normal;
    position:absolute;
    background-color:rgba(0,0,0,0.4);
    z-index:1;
   
}
#carrusel-anterior{
    top:0;
    left:-40;
    bottom:0;
    background-image:url('../img/ant.png');
    background-repeat:no-repeat;
    background-position:center center;
    transition:all 0.2s;
}
#carrusel-anterior:hover, #carrusel-siguiente:hover{
    background-color:rgba(0,0,0,0.6);
}

#carrusel-siguiente{
    top:0;
    right:-40;
    bottom:0;
    background-image:url('../img/sig.png');
    background-repeat:no-repeat;
    background-position:center center;
    transition:all 0.2s;
}


/*#contenido{
    margin-top:10px;
    width: 98.5%;
    margin:auto;
}*/




#div-detalles > div{
     padding: 10px;
     border:1px solid #e8e8e8;
}

#div-detalles > div > div{

    display: inline-block;
}

#div-detalles input{
    
    display: block;
    width: 100%;
    margin-bottom: 3px;
    /*display: inline-block;
    width: 100%;
    margin-bottom: 3px;*/*/
   
    
}

#txtresultado{
  resize:none;
  width: 100%
}


/*#div-img{
    position: relative;
    float: left;
    width: 75%;
    overflow: hidden;
    
}*/

/*#div-img:hover #title-img{
    top:0;
}*/

#img-max{
    background-color: #000;
    width: 100%;    
    text-align: center;
}

.img-max-fullscreen{
    height: -moz-calc(100% - 60px);
    overflow: scroll;
}

#img-max img{
   width: 50%;
   transition: all .2s;   
}

/*#title-img{
    position: absolute;
    top: -25;
    right: 0;
    left: 0;
    padding: 5px;
    color: white;
    
    background-color: #0008C5;
    opacity: 0.8;
    
    font-size: 60%;
    text-align: center;
    transition: all .2s;
}*/

.img-selected{
    border-bottom: 4px solid #0008C5;
}


/*galeria*/

.galeria-fullscreen{
    
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    z-index: 400;
}

#menubar{
    background-color: #000;
    padding: 5px 20px;
    text-align: right;
    
}
#menubar a{
    font-size: 2.0rem;
    margin-right:20px;
    color:#fff;
}
#menubar a:hover{
    color:blue;
}

#title-img{
    padding: 5px;
    color: white;
    font-size: .8rem;
    font-family: "Segoe UI",verdana,Arial,sans-serif;
    margin-right: 40px;
    vertical-align: 8px;
}