/*=============================================*/
*{
      margin: 0;
      padding: 0;
}
body{
    background-color:#fafafa;
}

.ui-button{
   
    
}
#btn-menu,#atras,#reset,#actualizar{
  width: 20px;
  height: 20px;
  padding: 4px;
  margin-right: 20px;
  font-size: 2.5rem;
  color:#5f5f5f;
}

#btn-menu{
  display: none;
}
#btn-menu:hover,#atras:hover,#reset:hover,#actualizar:hover{
  color:blue;
}
#header{
  background-color: #ededed;
  border-bottom:1px solid #dedede;
  /*! border-top:1px solid #ffffff; */
  /*! margin-bottom:2px; */
  /*! box-shadow:0px 2px 5px #a6a6a6; */
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:2;
 
}

/*=============================================*/


/*=============================================*/
#header ul{
      padding: 10px 20px 20px 10px;
      height: 35px;
}
/*=============================================*/

/*=============================================*/
#header ul li{

     list-style   : none;
    float:left;
    margin-right: 8px;   
}

#logo{
   
    position: absolute;
    top:-5;
    right: 2;
    width: 200px;
    height: 57px;
   
}


#header .ui-button{
    border-radius:0;
   /*font-family: verdana,Arial,sans-serif;*/
   font-family: "Segoe UI", Verdana, Arial, "Trebuchet MS", sans-serif;
   font-size: 0.8rem;
}
/*=============================================*/

#header h3{
    font-family: verdana,Arial,sans-serif;
    color:#5f5f5f;
    text-shadow:0px 1px #ffffff;
    padding-right: 20px; 
}
#header h5{
    font-family: verdana,Arial,sans-serif;
    color:#5f5f5f;
    text-shadow:0px 1px #ffffff;
    padding-right: 20px;
}
.ui-datepicker{
    font-size:80%;
}

#fecha{
    padding: 3px;
    font-family: verdana,Arial,sans-serif;
    width: 100px;
    color:#5f5f5f;
    border: 1px solid #d3d3d3;
}
#tecnico{
    padding: 3px;
    font-family: verdana,Arial,sans-serif;
    color:#5f5f5f;
    border: 1px solid #d3d3d3;
}
#modal{
  padding-top: 150px;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0%;
  background-color: #e7e7e7;
  z-index: 1;
}
#modal h1{
    color:#5f5f5f;
    text-shadow: 0 1px #ffffff;
    font-size: 300%;
    text-align: center;
    font-family: verdana,Arial,sans-serif;
}
#modal p{
    color:#5f5f5f;
    text-shadow: 0 1px #ffffff;
    font-size: 150%;
    text-align: center;
    font-family: verdana,Arial,sans-serif;
}

#contenido{
    position: relative;
    margin-top: 66px;
}


#container-map{
     position: fixed;
    top: 67px;
    left: 0;
    right: 0;
    bottom: 0;
    
}
#div-map{
       
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}


