.filtros{
	margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 0rem;
}
.select select{
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.el-input__inner{
	border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.el-table th {
  color: #FFFFFF !important;
  background-color: rgb(0, 3, 74) !important;
  font-weight: normal !important;
}