header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:45%;
}
#form>div{
	width: 100%;
}

#form label{
	display: inline-block;
	
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

input[type="text"], select,  input[type="date"],  input[type="time"],  textarea{
	
	margin-bottom: 8px;
	
}

.titulo-tab{
	display: none;
}

#div-total-preventas, #div-total-clientesImpactados{

	
	margin-top: 20px;
}