header h3{
	text-align: left;
}


#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:49%;
}
/*#form>div:last-child{
	width: 100%;
}*/

#form label{
	display: inline-block;
	
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
    margin-bottom: 8px;
	
}

#show-hide-polylines, #chk-medir{
    
    margin-left: 0px;
   
}


#detalles{    
    width: 100%;    
    float: none;    
}

#container-map{
    width: 100% !important;    
    float: none; 
}



