* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}


body {
    font-family: "Segoe UI", verdana, sans-serif;
    background-color: #fafafa;

}

#cargando {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    text-align: center;
}

#cargando p {
    font-size: 0.8rem;
    text-align: center;
}

header {
    padding: 0px 4px 0px 0px;
    /*position: relative;*/
    position: fixed;
    border-bottom: 1px solid #dedede;
    background-color: #ededed;
    overflow: hidden;
    left: 0;
    right: 0;
}


nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#menu {
    height: 100%;

}

#menu li {
    padding: 0px 5px;
    display: inline-block;
    list-style: none;
    height: 100%;
}

#menu li:hover a span, #menu li:hover a h6 {

    /*color:#030986;*/
    color: #222;
}

#menu li:hover {
    background-color: #ddd;
}

#menu a {
    text-decoration: none;
}

#menu span {
    color: #555;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
}

#menu h6 {
    color: #555;
    font-weight: normal;
    font-size: 0.7rem;
    /*text-shadow: 0 1px 1px #0046a1;*/

}

header h3 {
    color: #555;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 10px;

}

header h3 span {
    margin-right: 10px;
    font-size: 180%
}

#div-criterio {
    padding: 8px 8px 2px 8px;
}

#criterio {
    border: 1px solid #efefef;
    padding: 8px;
}

#criterio legend {
    font-size: 0.7rem;
}

#criterio > div {
    display: inline-block;
    width: 180px;
}

#criterio label {
    font-size: 0.8rem;
    display: block;
    /*margin-bottom: 4px;*/
}

#criterio select {
    width: 100%;
}

#div-tecnico, #div-fecha {
    padding: 0px 8px;
    display: inline-block; /*nueva*/
}

#div-tecnico > div {
    /*padding: 8px 0px;
    border: 1px solid #efefef;*/
}

#div-tecnico > div > div {
    /*! margin-left: 20px; */
    padding-left: 10px;
    /*width: 373px;*/
}

#div-tecnico label {
    font-size: 0.8rem;
    /*display: block;*/ /*nuevo*/
    margin-bottom: 4px;
}

#div-tecnico select {
    /*display: block;*/
    /*width: 100%;*/
}

#div-fecha > label {
    margin-right: 8px;
}

.ui-datepicker {
    font-size: 80% !important;;
}

.seccion-tabla {
    padding: 8px;
    display: block;
    height: calc(100% - 90px);
    height: -moz-calc(100% - 90px);
    height: -webkit-calc(100% - 90px);
}


.seccion-tabla > div {
    padding: 8px;
    border: 1px solid #efefef;
}

#header-tabla {

}

#div-seleccionarTodo {
    /*! padding-left: 10px; */
    display: inline-block;
}

#seleccionarTodo {
    margin-right: 4px;
}

#header-tabla label {
    font-size: 0.8rem
}

#div-totales {
    display: inline-block;
    float: right;
}

#div-totales label {
    margin-right: 4px;
}

#div-totales input[type='text'] {
    margin-right: 8px;
    width: 50px;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 10px;
    font-size: 0.8rem;
    border-collapse: collapse;
    max-height: 100%;
    overflow-y: scroll;
}

table tr:nth-child(2n+1) {

    background-color: #f0f0f0;
}

table tr.cabecera {
    background-color: #00034A;
}

table tr.cabecera td {
    color: #fff;
    text-align: center;
    padding: 8px 0px;
}

table tr.fila td {
    padding: 4px 0px;
    text-align: center;
    border: 1px solid #efefef;
}

table tr.fila:hover > td {
    cursor: pointer;
    background-color: #e5e5e5;

}

legend {
    font-weight: bold;
}


input[type="text"], select, input[type="date"], input[type="time"], textarea {
    border: 1px solid #e8e8e8;
    padding: 4px 2px;
    text-transform: uppercase;
    font-weight: bold;
    /*width: 60%;*/
    font-family: "Segoe UI", verdana, sans-serif;
    font-size: 0.75rem;
}

input[type="text"]:hover, select:hover, input[type="date"]:hover, input[type="time"]:hover, textarea:hover {
    border: 1px solid #d8d8d8;
}

input[type="text"]:focus, select:focus, input[type="date"]:focus, input[type="time"]:focus, textarea:focus {
    border: 1px solid #4C9ED9;

}

.marcado {
    color: red;
}

.table-wrapper-scroll-y {
    display: block;
    height: 60vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

