header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}
#subheader > div:last-child{
	display: block;
	width: 100%;
	text-align: center;
}
#div-form{
	width:100%;
}

#form>div{
	
	width:45%;
}
#form>div{
	width: 100%;
}

#form label{
	display: inline-block;
	
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

input[type="text"], select,  input[type="date"],  input[type="time"],  textarea{
	
	margin-bottom: 8px;
	
}

#div-subtotales{
	margin-top: 20px;
}

#div-subtotales span{
	display: none;
}

#div-subtotales > div{
	margin-left: 8px;
	
}

#div-subtotales > div > h4{
	font-size: 75%;
}




#div-grafico-tecnico{
	width: 100%;
	height: 400px;		
}

#grafico-tecnico{
	width: 100%;
	height: 400px;		
}