*{
	padding: 0px;
	margin: 0px;
}

body{
	font-family: "Segoe UI", sans-serif, Verdana, arial;
	/*background-image: url('../img/fondo1.jpg');*/
}









header{
    padding: 0px 4px 0px 0px;
    position: fixed;
    /*position: relative;*/
    border-bottom: 1px solid  #dedede;
    background-color: #ededed;
    overflow: hidden;
    left: 0;
    right: 0;
    z-index: 100;
}



nav{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
}

#menu{
    height: 100%;
    
}
#menu li{
    padding: 0px 5px;
    display: inline-block;
    list-style: none;
    height: 100%;
}
#menu li:hover a span,#menu li:hover a h6{
    
    /*color:#030986;*/
    color:#222;
}

#menu li:hover {
    background-color: #ddd;
}

#menu a{
    text-decoration: none;
}
#menu span{
    color: #555;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
}
#menu h6{
    color: #555;
    font-weight: normal;
    font-size: 0.7rem;
    /*text-shadow: 0 1px 1px #0046a1;*/
    
}

header h3{
    color:#555;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    
}

header h3 span{
    margin-right: 10px;
    font-size: 180%
}

#subheader{
    padding: 50px 10px 10px 10px;
    background-color: #f5f5f5;
}

#subheader>div{
    display: inline-block;
}

#form>div{
    display: inline-block
}
.ui-datepicker{
    font-size:80% !important;;
}

#form label{
   
    margin-right: 4px;
    display: block;    
    font-size: .9rem;
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
    border: 1px solid #e8e8e8;
    padding: 4px 2px;
    text-transform: uppercase;
    font-weight: bold;
    /*width: 60%;*/
    font-family: "Segoe UI", verdana, sans-serif;
    font-size: 0.75rem !important;
}
input[type="text"]:hover,select:hover,input[type="date"]:hover,input[type="time"]:hover,textarea:hover{
    border: 1px solid #d8d8d8;
}
input[type="text"]:focus,select:focus,input[type="date"]:focus,input[type="time"]:focus,textarea:focus{
    border: 1px solid #4C9ED9;
     
}



#div_2{
	
	margin-top: 4px;
	margin-bottom: 8px;
    /*height: 200px;*/
}

#div_2 .wrapper{
	padding: 10px;
}


/*#div_2 > div:first-child{
    float: left;
    width: 70%;
}

#div_2 > div:last-child{
    float: left;
    width: 30%;
    max-height: 200px;
    overflow-y: scroll;
}*/

#div_2 .wrapper > div{

	display: inline-block;
}

#div_2 label{
	display: block;
	width: 100%;	
	color:#444;
	font-size:13px;
}




table{
    width: 100%;
    /*margin-top: 10px;*/
    font-size: 0.8rem;
    border-collapse:collapse;
    max-height: 100%;
    overflow-y: scroll;

}

table tr:nth-child(2n+1){
    
    background-color: #f0f0f0;
}

table tr.cabecera{
    background-color: #00034A;
}
table tr.cabecera td{
    color: #fff;
    text-align: center;
    padding: 8px 0px;
}

table tr.fila td{
    padding: 4px 0px;
    text-align: center;
    border: 1px solid #efefef;
}

table tr.fila:hover>td{
    cursor:pointer;
    background-color: #e5e5e5;
    
}


.fila-activa{
  background-color: #007fff !important;;
  color:#fff; 
}





/*galeria*/

#div-galeria{
    width: 100%;
    max-height: 250px;
    overflow-y:scroll;
    
}

#carrusel{
    margin: 10px auto;
    padding: 4px;
    /*text-align: center;*/
}

#list-img img{
    display: inline-block;
    width: 48%;
    /*height:200px;*/
    padding: 1px;
}

#list-img img:hover{
    opacity: 0.8;
    cursor: pointer;
}

#galeria{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    /*overflow: scroll;*/
    z-index: 100;
}

#menubar{
    background-color: #000;
    padding: 5px 20px;
    text-align: right;
    
}
#menubar a{
    font-size: 2.0rem;
    margin-right:20px;
    color:#fff;
}
#menubar a:hover{
    color:blue;
}

#img-max{
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: scroll;
    text-align: center;
}

#img-max img{
   width: 50%;
   /*overflow: scroll;*/
	 transition: all .2s;
}

#title-img{
    padding: 5px;
    color: white;
    font-size: 1rem;
    font-family: verdana,Arial,sans-serif;
    margin-right: 40px;
    vertical-align: 8px;
}

.img-selected{
    
    opacity: 0.5;
    
}

#div_3{
    /*padding: 10px;*/
}




#div-map{
	
	height: 250px;
	width: 100%;
	padding: 0px;
    
}

#mapa{
	
	height: 100% !important;
	width: 100% !important;
	
}