header h3{
	text-align: left;
}

.ui-tabs-panel{
	padding: 0 !important;
}
#subheader{
	padding-top: 45px;
}

#div-form{
	width:100%;
}

#form>div{
	
	width:45%;
}
#form>div:last-child{
	width: 100%;
}

#form label{
	display: inline-block;
	
}

input[type="text"],select,input[type="date"],input[type="time"],textarea{
	
	width: 100%;
	
}

#div_2{
    
    height: auto;
}

#div_2 .wrapper > div{

    display: block;
}




#div-map{
    
    height: 250px;
    width: 100%;
    padding: 0px;
   
}

#div-galeria{
    width: 100%;
    
    
    
}



#contenido input[type="text"], #contenido select, #contenido input[type="date"], #contenido input[type="time"], #contenido textarea{
	
	margin-bottom: 8px;
	
}

.titulo-tab{
	display: none;
}

#div-tabla{    
    width: 100%;    
    float: none;    
}

#div-detalle{    
    width: 100%;    
    float: none;    
}

#div-detalle>.wrapper>div{
    display: block;
    width: 100%;
}

#div-detalle > .wrapper > div input[type="text"]{

    width: 100%;
}

#list-img img{
    width: 30%;
}

#title-img {
    
    font-size: .7rem;
    
    display: block;
}

#menubar{
    text-align: center;
}

